.DS_Store
*.aux
Thumbs.db

/LigrettoKonzept.synctex.gz
/LigrettoKonzept.toc
/LigrettoKonzept.out
/LigrettoKonzept.log
/LigrettoKonzept.tps
/LigrettoKonzept.tcp

/LigrettoKonzept.blg
/LigrettoKonzept.bbl